
@media only screen and (max-width : 1200px)
	.header

		&__logo
			img
				width: 200px
				height: auto

		&__block

			&--logo
				br
					display: block

			&--tel
				a
					font-size: 16px
					line-height: 1.3

				img
					width: 20px
					height: 20px

	.top__line
		p
			br
				display: none

	.choose__bg
		bottom: auto
		top: 0

	.installment-plan__bg
		right: 60%

	.advantages__bg
		right: auto
		left: 70%


	h2
		br
			display: none

	.service-img
		width: 50%

		img
			width: 100%
			height: 100%

	.service__wrap-content
		width: 50%
	
	.testimonials__list_item
		height: 320px

	.tabs__wrap
		width: 100%
		height: auto

		img
			width: 100%
			height: auto

	.score__block_tabs
		margin-right: 3%


@media only screen and (max-width : 992px)
	h1
		font-size: 32px
		line-height: 1.4

	h2
		font-size: 28px
		line-height: 1.4
		margin-bottom: 20px

	.header__block--nav
		a
			font-size: 12px

@media only screen and (max-width : 767px)
	.header

@media only screen and (max-width : 576px)
	.header

@media only screen and (max-width : 480px)
	.header









